<h1>Delivery_app</h1>

<p>Source code: <a href="https://github.com/Nikolay0107/delivery_app">
 github.com/Nikolay0107/delivery_app</a>
</p>


<br>
<%= link_to 'Список курьеров', couriers_path %>
<br>
<br>
<%= link_to 'Список посылок', packages_path %>
